
<h2>Note <%=@note.id%></h2>

<%= render "note" %>

<p><%= link_to 'Edit this note ...', edit_note_path %></p>

<%= button_to "Delete this note", @note, confirm: "Really delete this note?", method: :delete %>


<p><%= link_to "All notes", notes_path %></p>