<h1>Terms and Conditions</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Comment</th>
      <th>Created at</th>
      <th>Published</th>
      <th>Superceded</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_agreements.each do |user_agreement| %>
      <tr>
        <td><%= user_agreement.id %></td>
        <td><%= user_agreement.comment %></td>
        <td><%= user_agreement.created_at %></td>
        <td><%= user_agreement.published_at %></td>
        <td><%= user_agreement.superceded_at %></td>
        <td><%= link_to 'Show', user_agreement %></td>
        <td><%= link_to 'Edit', edit_user_agreement_path(user_agreement) %></td>
        <td><%= link_to 'Destroy', user_agreement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User agreement', new_user_agreement_path %>
