<h1>Terms and Conditions</h1>

<table>
  <thead>
    <tr>
      <th>Version</th>
      <th>Comment</th>
      <th>Created at</th>
      <th>Published</th>
      <th>Superceded</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @user_agreements.each do |user_agreement| %>
      <tr>
        <td><%= user_agreement.version %></td>
        <td><%= user_agreement.comment %></td>
        <td><%= user_agreement.created_at %></td>
        <td><%= user_agreement.published_at %></td>
        <td><%= user_agreement.superceded_at %></td>
        <td><%= link_to 'Show', user_agreement %></td>
        <td><%if !user_agreement.published_at %><%= link_to 'Edit', edit_user_agreement_path(user_agreement) %><%end%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if !new_user_agreement_version_exists? %>
  <%= button_to "Edit new version", :action => "edit_new_version" %>
<% end %>
