<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @user_agreement.version %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @user_agreement.comment %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @user_agreement.published_at.presence || '(not published)' %>
</p>

<p>
  <strong>Superceded at:</strong>
  <%= @user_agreement.superceded_at.presence  || '(not superceded)' %>
</p>

<% if @user_agreement.can_edit? %>
  <p><%= link_to 'Edit', edit_user_agreement_path(@user_agreement) %></p>
<% end %>
<% if @user_agreement.can_publish? %>
  <%= simple_form_for(@user_agreement, url: url_for(action: "publish"), method: :post) do |f| %>
    <%= f.button :submit, value: "Publish"%>
  <% end %>
<% end %>

<p>
  <strong>Text:</strong>
  <pre><%= @user_agreement.text %></pre>
</p>

<%= link_to 'All versions of Terms & Conditions', user_agreements_path %>
