<p id="notice"><%= notice %></p>

<p>
  <strong>Version:</strong>
  <%= @user_agreement.version %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @user_agreement.comment %>
</p>

<p>
  <strong>Published at:</strong>
  <%= @user_agreement.published_at %>
</p>

<p>
  <strong>Superceded at:</strong>
  <%= @user_agreement.superceded_at %>
</p>

<% if @user_agreement.can_publish? %>
<%= link_to 'Edit', edit_user_agreement_path(@user_agreement) %> |
<% end %>
<%= link_to 'Back', user_agreements_path %>

<p>
  <strong>Text:</strong>
  <pre><%= @user_agreement.text %></pre>
</p>

